.field-input {
    display: inline-block;
}

.input {
    height: 2.5625em;
    border: 0.1875em solid #808080;
    border-radius: 0.4375em;
}

.input::placeholder {
    font-weight: bold;
}

.input-label {
    text-align: left;
    display: block;
    width: inherit;
    margin-bottom: 0.1875em;
    font-weight: bold;
}

.input-sm {
    width: 13.9375em;
}

.input-md {
    width: 16.3125em;
}

.input-lg {
    width: 21.3125em;
}

.input-search {
    height: 3.0625em;
    width: 100%;
    text-indent: 2.5em;
}

.input-search-icon {
    position: relative;
    font-size: 1.5em;
    top: 2.0625rem;
    left: 0.625rem;
}

.input-search::-webkit-search-cancel-button {
    font-size: 1.5em;
    font-family: sans-serif;
    color: gray;
    cursor: pointer;
}

.input-area {
    width: 26.1875em;
    height: 8.375em;
    /* resize: none; */
    resize: vertical;
}

.input-image {
    width: 23.625em;
    height: 20.0625em;
    border-radius: 0.4375em;
    cursor: pointer;
    text-align: left;
}

.input-image-load>img {
    width: inherit;
    height: inherit;
    border-radius: inherit;
}

.input-image-load {
    background-color: #808080;
    cursor: default;
}

.add-image-icon {
    position: relative;
    top: 33%;
    left: 37%;
}

.input-image-options {
    position: relative;
    background-color: #5E5E5FC2;
    width: inherit;
    height: inherit;
    border-radius: inherit;
    bottom: 20.25em;
}

.input-image-options-actions {
    position: relative;
    display: inline-block;
    margin: 0 auto;
    width: 100%;
    text-align: center;
    top: 50%;
}

.input-image-option-action {
    font-size: 2em;
    margin: 0 15px;
    cursor: pointer;
}

@media screen and (max-width: 465px) {
    .input-area {
        width: 21.3125em;
    }
}

@media screen and (max-width: 498px) {
    .input-image {
        width: 18.3125em;
        height: 18.0625em;
    }

    .add-image-icon {
        top: 32%;
        left: 33%;
    }

    .input-image-options {
        bottom: 18.25em;
    }
}