.select {
    cursor: pointer;
    box-shadow: 3px 3px 3px black;
}

.select-multiple-placeholder {
    text-align: center;
    display: inline-block;
    width: 100%;
    margin-top: 0.6875em;
}

.select-multiple-options {
    position: absolute;
    border: 0.0625em solid black;
    border-radius: 7px;
    height: 14em;
    overflow-y: auto;
    width: 21.3125em;
    background-color: whitesmoke;

}

.select-multiple-option {
    cursor: pointer;
    margin: 0.625em 1.25em;
    border-bottom: 0.0625em solid black;
    height: 2em;
}

.select-multiple-option-icon {
    font-size: 1.5em;
}

.select-multiple-option:hover {
    background-color: #b0a4a4;
}

/* .select-multiple-option-check-icon {
    animation-name: check;
    animation-timing-function: ease;
    animation-duration: 3s;
}

@keyframes check {
    0% {
        box-shadow: 3px 3px 3px black;
    }

    100% {
        box-shadow: none;
    }
} */
.select-common {
    font-size: inherit;
    width: 21.75em;
    background-color: #FFFFFF;
    height: 2.9375em;
}

@media screen and (max-width: 450px) {
    .select {
        width: 18.3125em;
    }

    .select-multiple-options {
        width: 18.3125em;
    }

    .select-common{
        width: 18.6875em;
    }

}