:root {
    --main: #C2323F;
    --danger: #D32132;
    --clean: #42A4C3;
    --reset: #25BEEC;
    --save: #52C65D;
    --preview: #CB46D7;

    --main-opac: #d43d49;
    --danger-opac: #DF2F41;
    --clean-opac: #4FB3D1;
    --reset-opac: #36C3EE;
    --save-opac: #5CD067;
    --preview-opac: #D64BE3;
}